*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
}
#parent-div{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(242, 242, 243);
    position: sticky;
    top: 0%;
    z-index: 1;
}
.main-section{
    /* background-color: aqua; */
    width: fit-content;
    height: fit-content;
}
.first-section{
    height: 400px;
    width:auto;
    /* background-color: blue; */
    margin-left: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.first-section span{
    /* background-color: brown; */
    width: 300px;
    height: auto;
    margin-top: 5px;
    /* border: 2px solid white;
    border-radius: 15px;
    width: fit-content;
    height: 1000px; */
}
.first-section span img{
    width: 230px;
    height: 300px;
    border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   object-fit: fill;
}
.span-cake{
    position: absolute;
   top: 230px;
   left: 100px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
.span-cake img{
    width: 200px;
    height: 250px;
}
.span-cake2{
   margin-left: 30px;
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
}
.sub-sec{
    /* background-color: blue; */
    width: 100%;
    margin-top: 45px;
}
.sub-sec h2{
    font-size: 2rem;
    font-weight: 400;
    /* line-height: 40px;
    padding: 10px; */
}
.sub-sec p{
    font-size: 1.1rem;
    font-weight: 300;
    /* line-height: 20px; */
    font-style: oblique;
    /* padding: 10px; */
}
.sub-sec button{
    background-color: black;
    color: white;
    border: none;
}
.sub-sec button a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: serif;
    padding: 10px;
}


/* section */
.sub-section1{
    /* background-color: rgb(190, 41, 111); */
    width: fit-content;
    height: 1100px;
    margin-top: 90px;
}
.first-sub{
    margin-top: 50px;
    text-align: center;
    /* background-color: blue; */
    height: 110px;
    width:auto;
}
.first-sub h2{
    font-weight: 600;
    font-size: 1.2rem;
}
.first-sub p{
    font-weight: 500;
    font-size: 1rem;
}
.second-sub{
    /* background-color: brown; */
    height:600px;
    width: 100%;
}
.main-ul{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-ul li{
    width: 350px;
    height: 400px;
    list-style: none;
    /* background-color: rgb(85, 76, 78); */
    margin: 10px;
}
.main-ul li img{
    width: 360px;
    height: 200px;
}
.main-ul li h3{
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}
.main-ul li p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: start;
    padding: 10px;
}
.main-ul li button{
    background-color: black;
    border: none;
    margin-left: 120px;
    border-radius: 2px;
}
.main-ul li button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.main-ul li button:hover{
    background-color: wheat;
    padding: 3px;
}
.main-ul li button a:hover{
    color: black;
}


.second-section{
    height: 500px;
    width:auto;
    /* background-color: blue; */
    margin: 40px;
    /* margin-top: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.second-section span{
    /* background-color: brown; */
    width: 300px;
    height: 305px;
    margin-top: 5px;
}
.second-section span img{
    width: 230px;
    height: 350px;
    object-fit: fill;
    border-top-left-radius: 150px;
   border-top-right-radius: 150px;
}
.baker{
    position: absolute;
   top: 220px;
   left: 250px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
.baker2{
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
}
.learn-more{
    /* background-color: rgb(29, 241, 110); */
    width: 100%;
    margin-top: 20px;
    /* margin-left: 100px; */
}
.learn-more h2{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    padding: 10px;
}
.learn-more p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20px;
    font-style: oblique;
    padding: 10px;
}
.learn-more button{
    background-color: black;
    color: white;
    border: none;
}
.learn-more button a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: serif;
    padding: 10px;
}

/* carousel */
.container {
    background-color:burlywood;
    width: 100%; 
    margin-top: 350px;
    padding: 1rem;
    box-sizing: border-box; 

}
@media (min-width: 1024px) {
    footer {
        width: 100%; /* Ensure full width on laptop screens */
    }
}

.carousel {
    /* background-color: brown; */
    display: flex;
    background-image: url(./pics/background/178.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center; 
    padding: 1rem; 
}

.carousel h1 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: serif;
    font-style: italic;
}

.carousel-track {
    display: flex;
    /* flex-direction: column;  */
    align-items: center; 
    width: 100%;
   
}

.carousel-track li {
    list-style: none;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade 20s ease in;
    width: 80%; 
    margin: 1rem 0; 
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.button {
    display: flex;
    justify-content: center; 
    /* background-color: aqua; */
}

.button button {
    margin: 0 1rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
}

/* @media (max-width: 768px) {
    .carousel {
        background-attachment: scroll; 
    }

    .carousel h1 {
        font-size: 1.5rem; 
    }

    .carousel-track li {
        width: 90%;
    }

    .button button {
        padding: 0.5rem; 
    }
} */
.last-sec{
    background-image: url(./pics/background/178.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 1rem; 
    height: fit-content;
}
.gallery {
    /* background-color: blue; */
    width: 90%; 
    max-width: 500px; 
    margin: 10px auto; 
    padding: 1rem; 
    box-sizing: border-box; 
}

.gallery h2 {
    text-align: center;
    font-weight: 400;
    color: gray;
    font-size: 2rem;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem 0; 
}

.gallery p {
    text-align: center;
    font-weight: 400;
    color: rgb(53, 52, 52);
    font-size: 1rem;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem 0; 
}

.gallery button {
    background-color: rgb(22, 19, 19);
    width: 80%; 
    max-width: 150px; 
    margin: 1rem auto; 
    padding: 0.5rem;
    text-align: center; 
    cursor: pointer; 
    margin-left: 100px;
}

.gallery button a {
    color: grey;
    text-decoration: none;
}

.gallery button a:hover {
    color: rgb(36, 33, 33);
}

.gallery button:hover {
    background-color: gray;
    color: rgb(36, 33, 33);
}

/* cakes */
.sec-gallery{
    /* background-color: gray; */
    width: 100%;
    height: 100%;
}
.sec-gallery h1{
    text-align: center;
    font-weight: 400;
    color: gray;
    font-size: 2rem;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem 0;   
}
.main-cake{
    /* background-color: blue; */
    max-width: 1135px;
    overflow: hidden;
}
.fav-cake{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    width: 200%;
    height: 200px;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 20s;
    /* animation-delay: 2s; */
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transform: translateX(900px);
}
.cake-slide{
    /* background-color: brown; */
    width: 20%;
    height: 200px;
    margin: 2px; 
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0; 
}
@keyframes slide {
    0% { transform: translateX(-2000px); }
    100% { transform: translateX(900px); }

}

.cake-slide img{
     box-sizing: border-box;
     box-shadow: 2px 3px 5px black,
            2px 4px 6px white;
     width: 250px;
     height: 250px;
     object-fit: fill;
}

/* footer */
.footer{
    background: linear-gradient(to bottom,rgb(226, 199, 199),rgb(49, 48, 48));
    margin: 0px;
    width: 100%;
    height: 100%;
}
.first-footer{
    /* background-color: rgb(228, 228, 230); */
    height: 200px;
    width: 96.5vw;
    text-align: center;
    margin-top: 2px;
}
.first-footer h2{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(29, 29, 29, 0.788);
}
.first-footer p{
    text-align: center;
    /* margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba(39, 39, 39, 0.616);
}
.first-footer input{
    outline: none;
    width: 230px;
    padding: 5px;
    border: none;
}
.first-footer input:hover{
    padding: 6px;
    background-color: ghostwhite;
}
.first-footer button{
    background-color: grey;
    padding: 5px;
    border: none;
    margin-top: 20px;
}
.first-footer button a{
    color: white;
    text-decoration: none;
}
.first-footer button:hover{
    background-color: white;
    padding: 6px;
}
.first-footer button a:hover{
    color: grey;
}
.cake-foot img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

.con-footer {
    /* background-color: rgb(255, 255, 255); */
    width: 96vw;
}

.all-cake {
    display: flex;
    height: fit-content;
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cake-foot {
    width: 150px;
    height: fit-content;
    margin: 2px;
    list-style: none;
    margin-top: 15px;
    cursor: pointer;
}

.main-links {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.all-links {
    height: 100px;
    width: 18%;
    margin: 10px; 
}

.all-links1 {
    width: 400px;
}
.all-links li{
    list-style: none;
    font-family: serif;
    font-style: italic;
    font-size: 1.2rem;
    width: 110px;
    
}
.all-links li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    text-align: start;

}
.link-foot button{
    background-color: white;
    padding: 1px;
}
.link-foot button:hover{
    background-color: black;
}
/* ///////////////////////////////responsiveness/////////// */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #parent-div{
        background-color: white;
    }
    .main-section{
        background-color: chocolate;
        width: 200px;
    }
     .main-ul{
        background-color: brown;
        width: 200px;
     }
     .main-ul li {
        background-color: blueviolet;
        margin-right: 33px;
        width: 200px;
     }
    .main-ul li img{
        /* margin-right: 10px; */
        background-color: aqua;
        width: 350px;
    }
    .cake-slide{
        margin: 10px;
        /* object-fit: cover; */
    }
    .fav-cake li img{
        width: 200px;
        height: 200px;
        background-color: blue;
        object-fit: cover;
    }
    .cake-slide{
        background-color: coral;
        width: 300px;
        height: 200px;
    }
    .fav-cake{
        width: 900px;
        animation-name: slides;
    animation-duration: 10s;
    /* animation-delay: 2s; */
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transform: translateX(400px);
    }
    @keyframes slides {
        0% { transform: translateX(-500px); }
        100% { transform: translateX(10px); }
    
    }
    .all-cake{
        margin-top: 20px;
    }
    .cake-foot{
        background-color: brown;
        width: 100px;
        height: 100px;
          margin: 18px;
    }
     .cake-foot:nth-of-type(2),
     .cake-foot:nth-of-type(4){
        display: none;
     }
    .cake-foot img{
        object-fit: fill;
        height: 100%;
    }
  .cake-foot:nth-of-type(2) img,
  .cake-foot:nth-of-type(4) img {
    display: none;
   }
}
@media screen and (min-width: 490px) and (max-width: 900px) {
     #parent-div{
        background-color: white;
    }
    .second-sub{
    /* background-color: rgb(42, 165, 106); */
    width: 100%;
    height: 600px;
}
    .main-ul{
     /* background-color: brown; */
    width: 767px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.main-ul li:nth-of-type(3),
.main-ul li:nth-of-type(4){
    margin-top: 400px;
}
.main-ul li{
    width: 250px;
    height: 100px;
    background-color: rgb(85, 76, 78);
    /* margin: 10px; */
}
.main-ul li img{
    width: 250px;
    height: 200px;
    object-fit: fill;
}
    .cake-slide{
        margin: 5px;
        object-fit: fill;
    }
    .fav-cake{
        /* width: 900px; */
        animation-name: slides;
    animation-duration: 10s;
    /* animation-delay: 2s; */
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transform: translateX(400px);
    }
    @keyframes slides {
        0% { transform: translateX(-550px); }
        100% { transform: translateX(-30px); }
    
    }
}
@media screen and (min-width: 1080px) and (max-width: 1440px) {
     #parent-div{
        background-color: white;
    }
    .second-sub{
    /* background-color: rgb(42, 165, 106); */
    width: 100%;
    height: 600px;
}
    .main-ul{
     /* background-color: brown;  */
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.main-ul li:nth-of-type(3),
.main-ul li:nth-of-type(4){
    margin-top: 190px;
}
.main-ul li{
    width: 500px;
    height: 300px;
    /* background-color: rgb(85, 76, 78); */
    /* margin: 10px; */
}
.main-ul li img{
    width: 400px;
    height: 200px;
    margin: 0% auto;
    object-fit: fill;
}
.main-ul li h3{
    text-align: start;
    font-size: 2rem;
    font-weight: 500;
}
.main-ul li p{
    text-align: start;
    font-size: 2rem;
    font-weight: 400;
    font-style: oblique;
}
.main-ul li button{
    font-size: 1.5rem;
}
    .cake-slide{
        /* margin: 5px; */
        object-fit: fill;
    }
    .fav-cake{
        /* width: 900px; */
        animation-name: slides;
    animation-duration: 10s;
    /* animation-delay: 2s; */
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transform: translateX(400px);
    }
    @keyframes slides {
        0% { transform: translateX(-550px); }
        100% { transform: translateX(-30px); }
    
    }
}