*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.parent-div{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(247, 188, 141);
    position: sticky;
    top: 0%;
    z-index: 1;
}
.main-section{
    /* background-color: aqua; */
    width: fit-content;
    height: fit-content;
}
.first-section{
    height: 400px;
    width:auto;
    /* background-color: blue; */
    margin-left: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.first-section span{
    /* background-color: brown; */
    width: 300px;
    height: auto;
    margin-top: 5px;
    /* border: 2px solid white;
    border-radius: 15px;
    width: fit-content;
    height: 1000px; */
}
.first-section span img{
    width: 230px;
    height: 300px;
    border-top-left-radius: 150px;
   border-top-right-radius: 150px;
   object-fit: fill;
}
.span-cake{
    position: absolute;
   top: 230px;
   left: 100px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
.span-cake img{
    width: 200px;
    height: 250px;
}
.span-cake2{
   margin-left: 30px;
   border-top-left-radius: 150px;
   border-top-right-radius: 150px;
}
.sub-sec{
    /* background-color: blue; */
    width: 100%;
    margin-top: 45px;
}
.sub-sec h2{
    font-size: 2rem;
    font-weight: 400;
    /* line-height: 40px;
    padding: 10px; */
}
.sub-sec p{
    font-size: 1.1rem;
    font-weight: 300;
    /* line-height: 20px; */
    font-style: oblique;
    /* padding: 10px; */
}

/* section */
.sec-sec{
    /* background-color: aqua; */
    text-align: center;
    margin: 80px 60px 0px 60px;
    /* overflow: hidden; */
}
.sec-sec:hover{
    animation: work 2s both linear  ;
}
@keyframes work {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(5px);
    }
}
.sec-sec h2{
    font-size: 2rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
}
.sec-sec p{
    font-size: 1rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
}
.sec-sec button{
    height: 2.5rem;
    text-decoration: none;
    background-color: black;
    text-transform: capitalize;
    text-align: start;
    border: 1px solid;
    border-radius: 5px;
    /* margin-left: 400px; */
}
.sec-sec button:hover{
    background-color: white;
    padding: 7px;
}
.sec-sec button a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: serif;
    padding: 10px;
}
.sec-sec button a:hover{
    color: black;
}
.for-sec{
    /* background-color: aqua; */
    margin-top: 100px;
    text-align: center;
    margin: 100px 60px 0px 60px;
    /* overflow: hidden; */
}
.for-sec:hover{
    animation: works 2s both linear  ;
}
@keyframes works {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(5px);
    }
}
.for-sec h2{
    font-size: 2rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
}
.for-sec p{
    font-size: 1rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
}
.for-sec button{
    height: 2.5rem;
    text-decoration: none;
    background-color: black;
    text-transform: capitalize;
    text-align: start;
    border: 1px solid;
    border-radius: 5px;
    /* margin-left: 400px; */
}
.for-sec button:hover{
    background-color: white;
    padding: 7px;
}
.for-sec button a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: serif;
    padding: 10px;
}
.for-sec button a:hover{
    color: black;
}
.slide-container img{
    width: 550px;
    height: 100%;
    /* margin-left: 70px; */
    object-fit: cover;
    padding: 10px;
     /* Hide all images initially */
}
.third-sec{
/* width: 98vw;  */
/* max-width: 100vw; */
/* height: 1700px; */
background-color: rgb(247, 188, 141); 
display: flex; 
margin-top: 50px;
align-items: center;
justify-content: center;
flex-direction: column;
box-sizing: border-box;
padding: 20px;
position: relative;
}
.third-sec h2{
    font-size: 2rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: oblique;
    text-align: center;  
}
.slide-container{
    width: 550px;
    height: fit-content;
    background-color: #ffffff;
    display: flex; 
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: proximity;
}
.slide-container {
  overflow: auto;
}
.slide-container::-webkit-scrollbar {
  width: 12px;   
  height: 12px; 
}
.slide-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px;
}
.slide-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}
.slide-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 
.slide-show{
    scroll-snap-align: center;
    width: 550px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    box-shadow: 3px 4px 8px rgb(0, 0, 0);
}
.footer{
    background: linear-gradient(to bottom,bisque,rgb(226, 167, 112));
    margin: 0px;
    width: 100%;
    height: 100%;
}
.first-footer{
    /* background-color: rgb(228, 228, 230); */
    height: 200px;
    width: 96.5vw;
    text-align: center;
    margin-top: 2px;
}
.first-footer h2{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.788);
}
.first-footer p{
    text-align: center;
    /* margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.616);
}
.first-footer input{
    outline: none;
    width: 230px;
    padding: 5px;
    border: none;
}
.first-footer input:hover{
    padding: 6px;
    background-color: ghostwhite;
}
.first-footer button{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border: none;
    margin-top: 20px;
}
.first-footer button a{
    color: white;
    text-decoration: none;
}
.first-footer button:hover{
    background-color: white;
    padding: 6px;
}
.first-footer button a:hover{
    color: rgb(0, 0, 0);
}
@media screen and (min-width: 320px) and (max-width: 480px) {
   .main-section{
    width: auto;
    /* background-color: aqua; */
   } 
   .first-section{
    /* background-color: blueviolet; */
    width: 350px;
    height: 440px;
    margin: 0 auto;
   }
   .slide-show img{
    width: 200px;
   }
   .first-footer{
    margin: 0 auto;
   }
.first-footer input{
    margin-bottom: 10px;
    /* margin-left: 10px; */
}
.third-sec{
width: 390px; 
min-width: 300px;
/* height: 1700px; */
background-color: rgb(247, 188, 141); 
display: flex; 
margin-top: 50px;
align-items: center;
justify-content: center;
flex-direction: column;
box-sizing: border-box;
/* padding: 20px; */
position: relative;
}
.slide-container img{
    width: 250px;
    height: 250px;
    /* margin-left: 70px; */
    object-fit: cover;
    padding: 10px;
     /* Hide all images initially */
}
.slide-container{
    width: 250px;
    height: fit-content;
    background-color: #ffffff;
    display: flex; 
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: proximity;
}
.slide-container {
  overflow: auto;
}
.slide-container::-webkit-scrollbar {
  width: 12px;   
  height: 12px; 
}
.slide-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px;
}
.slide-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}
.slide-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 
.slide-show{
    scroll-snap-align: center;
    width: 550px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    box-shadow: 3px 4px 8px rgb(0, 0, 0);
}
}
/* @media screen and (max-width: 430px) {
    .span-cake img{
        display: none;
        background-color: blue;

    }
} */