*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(241, 241, 241);
    position: sticky;
    top: 0%;
    z-index: 1;
}
.sec-sec{
    background-color: gray;
    text-align: justify;
    margin-top: 2px;
    padding: 20px;
    overflow: hidden;
    animation: work 2s both 1s linear 2;
}
/* .sec-sec:hover{
    animation: work 2s both linear  ;
    
} */
@keyframes work {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-5px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.sec-sec h2{
    font-size: 2rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
}
.sec-sec p{
    font-size: 1rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
}
.first-section{
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.premium{
    position: relative;
}
.classic{
    position: relative;
}
.premium li{
    list-style: none;
    /* background-color: brown; */
}
.classic li{
    /* background-color: green; */
    list-style: none;
}
.p1{
    font-size: 1.5rem;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: oblique;
    text-align: center; 
    margin-right: 20px;
}
.cake1-1{
    list-style: none;
    /* background-color: brown; */
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.cake2-1{
    list-style: none;
    /* background-color: green; */
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.cake1-1 img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  
}
.cake2-1 img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.first-section ul li p{
    text-align: center;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.front{
    /* display: inline; */
    position: absolute;
    /* background-color: aqua; */
}
.back{
    /* display: inline; */
    transform: rotateY(90deg);
    transform-origin: center;

}
 li:hover .back{
    animation: rotate 1.5s ease-in-out forwards reverse;
}

@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}
.main-footer{
    background-color: gray;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.first-footer{
    /* background-color: rgb(228, 228, 230); */
    height: 200px;
    width: 96.5vw;
    text-align: center;
    margin-top: 2px;
}
.first-footer h2{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(29, 29, 29, 0.788);
}
.first-footer p{
    text-align: center;
    /* margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba(39, 39, 39, 0.616);
}
.first-footer input{
    outline: none;
    width: 230px;
    padding: 5px;
    border: none;
}
.first-footer input:hover{
    padding: 6px;
    background-color: ghostwhite;
}
.first-footer button{
    background-color: rgb(15, 15, 15);
    padding: 5px;
    border: none;
    margin-top: 20px;
}
.first-footer button a{
    color: white;
    text-decoration: none;
}
.first-footer button:hover{
    background-color: white;
    padding: 6px;
}
.first-footer button a:hover{
    color: grey;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .first-section{
         /* background-color: aquamarine; */
         margin-top: 10px;
         width: fit-content;
    }
    .classic{
        /* background-color: blueviolet; */
         margin: 0;

    }
    .premium{
        /* background-color: brown; */
         margin: 0;
         /* width: 100px; */
    }
    .first-section{
    /* background-color: blue; */
    display: flex;
    justify-content:left;
    align-items:start;
}
    .cake1-1{
         width: 150px;
         height: 100px;
         margin-bottom: 45px;
    }
    .cake1-1 img{
        width: 150px;
        height: 150px;
    }
    .cake2-1 img{
        width: 150px;
        height: 150px;
    }
    .cake2-1{
         width: 150px;
         height: 100px;
         margin-bottom: 45px;
    }
    .first-footer{
        margin: 0% auto;
        height: fit-content;
    }
}